.bg-menu-bg {
    background-color: #1a1a1a;
}
.text-gold-custom {
    color: #ECDF8F;
}
.text-gold-custom-2 {
  color: #d8c690;
}
.bg-gold-custom{
  background-color: #d8c690;
}
.bg-dark-gray {
  background-color: #181717;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.bg-dark-gray-only {
  background-color: #181717;
}

.text-gray-custom {
    color: #787878;
}
.border-gold-custom {
    border-color: #d8c690;
}
.bg-body-gray {
    background-color: #232323;
}
.active {
  color: white;
}

.seasons {
    font-family: 'The Seasons', serif;
}
.font-spectral {
    font-family: 'Spectral', serif;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.flip-card {
    position: relative;
     /* Example margin */
    width: 100%;
    height: 400px; /* Adjust height as needed */

}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }
  

  .h-px {
    height: 0.25px; /* Adjust this value to make the line thinner or thicker */
  }

  .bg-gray-custom{
    color: #787878;
    border-style: inset;
  }



  